Section "Module"
    Load           "modesetting"
EndSection

Section "Device"
    Identifier     "$ID"
    Driver         "$DRIVER"
    BusID          "$BUS"
    Option         "AllowEmptyInitialConfiguration"
    Option         "AllowExternalGpus" "True"
EndSection
