Source: egpu-switcher
Section: utils
Priority: optional
Maintainer: Michael Hertig <info@michaelhertig.ch>
Build-Depends: debhelper (>= 10)
Standards-Version: 4.1.2
Homepage: https://github.com/hertg/egpu-switcher
Vcs-Git: https://github.com/hertg/egpu-switcher.git
Vcs-Browser: https://github.com/hertg/egpu-switcher

Package: egpu-switcher
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Utility to detect and switch GPUs
 This tool allows the user to automatically detect the connected
 (external) GPUs. After selecting which GPU should be used as internal
 and which one as external, your computer will automatically 
 connect to the egpu on startup if it is connected.
 If the egpu wasn't detected, your internal GPU will be used. 
